list-docs.list-docs.row
	//- h1 hello, {recipient}
	//- pre {data_source_url}
	.wrapper-outer.wrapper-outer-1-1(each='{row in rows}' style="flex-grow: {(row.doc.weight || 1)}; flex-basis: {(row.doc.weight || 1)*25 + (row.doc.weight || 0)}em")
		.wrapper-inner
			a.article(riot-href='#/article/{row.id}')
				.header(style='background-image: url("{row._cover_img}"); background-position: {row.doc.cover_position || "center"}')
					//- pouchdb-img.background-image(doc_id='{row.id}' attachment_id='{row.doc.cover_img}' position='{row.doc.cover_position || "center"}')
					//- pre {row._cover_img}
					.veil(style="background-color: rgba(0,0,0,{ row.doc.cover_veil || '0.3' })")
					.headlines
						.kicker {decodeEntities(row.doc.kicker)}
						.headline {decodeEntities(row.doc.headline)}
						.author {decodeEntities(row.doc.author)}
				.teaser {decodeEntities(row.doc.teaser || row.doc.text.split(' ').slice(0, 28).join(' ') + '&nbsp;&hellip;' || "&nbsp;")}

	//- pre w rows: {JSON.stringify(alldocs, null, '\t')}
	style.
		.list-docs {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: stretch;
			align-content: flex-start;
			margin-right: -2.5em;
		}
		.wrapper-outer {
			margin-right: 2.5em;
			margin-bottom: 2.5em;
			flex-grow: 1;
		}

		.list-docs a.article {

			text-decoration: none;
			color: inherit;
			margin-bottom: 3em;
		}
		.list-docs .header {
			position: relative;
			width: 100%;
			height: 300px;
			overflow: hidden;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.list-docs .veil {
			background-color: rgba(0,0,0,0.3);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		.list-docs .headlines {
			padding: 1em;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 1em;
			color: #fff;
			text-shadow: 0 0 3px rgba(0,0,0,0.8);
		}
		.list-docs .kicker {
		}
		.list-docs .headline {
			font-family: 'LatoLatinWebBlack';
			font-weight: 900;
			font-size: x-large;
		}
		.list-docs .author {
			font-family: serif;
			font-size: xx-small;
			font-style: italic;
			font-weight: 100;
		}
		.list-docs .teaser {
			padding: 1em;
			font-size: 8pt !important;
		}

	script.
		var tag = this

		tag.recipient = "white iphone"

		window.sync.on('pause', function() {
			console.log("list-docs db paused")
			tag.refresh()
		})
		tag.refresh = debounce(function() {
			//- navigator.notification.beep(1)

			//- navigator.vibrate(3000)

			tag.mypouch = window.mypouch
			tag.mypouch.query('articles/by_date', {include_docs:true, descending:true, limit:12 })
				.then( function(result) {
					//- console.log("articles/by_date result" + JSON.stringify(result, null, '\t'))
					//- alert('begin')
					return Promise.all(result.rows.map(function (row) {
						if(row.doc.cover_img && row.doc._attachments && (row.doc.cover_img in row.doc._attachments))
							return tag.mypouch.getAttachment(row.id, row.doc.cover_img).then(function(blobOrBuffer) {
								//- console.log("blobOrBuffer" + JSON.stringify(blobOrBuffer, null, '\t'))
								row._cover_img = URL.createObjectURL(blobOrBuffer)
								return row
							})
						else
							return row
					}))
				})
				.then(function(rows) {
					//- console.log("rows" + JSON.stringify(rows, null, '\t'))
					//- alert('set')
					tag.rows = rows
					tag.update()
				})
				.catch(function(err) {
					console.error("getAttachment Promise Error" + JSON.stringify(err, null, '\t'))

				})
			//- tag.mypouch.query('articles/by_date', {include_docs:true})
			//- 	.then( function(result) {
			//- 		console.log("articles/by_date result" + JSON.stringify(result, null, '\t'))
			//- 		tag.rows = result.rows.map(function(row) {
			//- 			//- row.cover_img_url = URL.createObjectURL(row.doc._attachments[row.doc.cover_img].data)
			//- 			if(row.doc.cover_img)
			//- 				row.cover_img_url = PouchDB.attachmentBlobUrl(row.doc, row.doc.cover_img)
			//- 			//- row.cover_img_url = URL.createObjectURL(row.doc._attachments[row.doc.cover_img].data)
			//- 			return row
			//- 		})
			//- 		tag.update()
			//- 		console.log(result)

			//- 		//- var statusElement = document.getElementById('status')
			//- 		//- statusElement.innerHTML = JSON.stringify(result.docs, null, '\t')
			//- 	})

			//- tag.mypouch.allDocs({include_docs:true}).then(function(result) {
			//- 	tag.alldocs = result
			//- 	tag.update()
			//- })
		}, 200)
		tag.refresh()
//- rh.rh
	style.
		rh {display: block}

	script.
		this.root.innerHTML = this.opts.html || ''
//- pouchdb-img
	style.
		pouchdb-img,
		pouchdb-img>img {
			min-width: 100%;
			min-height: 100%;
		}
	script.
		var tag = this
		//- console.log("this", this)
		console.log("tag.opts" + JSON.stringify(tag.opts, null, '\t'))
		tag.parent.mypouch.getAttachment(tag.opts.doc_id, tag.opts.attachment_id)

		.then(function (blob) {
			var url = URL.createObjectURL(blob);
			tag.root.style['background-image'] = "url('"+url+"')"
			//- var img = document.createElement('img')
			//- img.src = url;
			//- tag.root.appendChild(img);
		})
		.catch(function (err) {
			console.error(err);
		})
