list-docs-simple.list-docs-simple.row
	//- h1 hello, {recipient}
	//- pre {data_source_url}
	.wrapper-outer.wrapper-outer-16-9(each='{row in rows}')
		.wrapper-inner
			a.article(riot-href='#/frame/{row.id}')
				.header(style='background-image: url("{row._cover_img}"); background-position: {row.doc.cover_position || "center"}')
					//- pouchdb-img.background-image(doc_id='{row.id}' attachment_id='{row.doc.cover_img}' position='{row.doc.cover_position || "center"}')
					//- pre {row._cover_img}
					.veil(style="background-color: rgba(0,0,0,{ row.doc.cover_veil || '0.5' })")
					.headlines
						.kicker {decodeEntities(row.doc.kicker)}
						.headline {decodeEntities(row.doc.headline)}
						.teaser {decodeEntities(row.doc.teaser || row.doc.text.split(' ').slice(0, 28).join(' ') + '&nbsp;&hellip;' || "&nbsp;")}
						.source {decodeEntities(row.doc.source)}

	//- pre w rows: {JSON.stringify(alldocs, null, '\t')}
	style.
		.wrapper-outer {
			width: 100%;
			/* whatever width you want */
			display: inline-block;
			position: relative;

			break-inside: avoid-column;
			-webkit-column-break-inside: avoid;
			page-break-inside: avoid;
			overflow: hidden; /* optional */
			margin-bottom: 3em;
		}
		.wrapper-outer:after {
			display: block;
			content: '';
		}
		@media all and (orientation: landscape) {
			.wrapper-outer-16-9 {
				/* 16:9 ratio */
				padding-top: 56.25%;
			}
			.wrapper-outer-3-4 {
				/* 4:3 ratio */
				padding-top: 75%;
			}
			.wrapper-outer-1-1 {
				/* 1:1 ratio */
				padding-top: 100%;
			}
		}

		@media all and (orientation: portrait) {
			.wrapper-outer-16-9 {
				/* 16:9 ratio */
				padding-top: 177.7777%;
			}
			.wrapper-outer-3-4 {
				/* 4:3 ratio */
				padding-top: 25%;
			}
			.wrapper-outer-1-1 {
				/* 1:1 ratio */
				padding-top: 100%;
			}
		}


		.wrapper-inner {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}
		.list-docs-simple {
			max-width: 50rem;
			margin: 0 auto;
		}
		//- .wrapper-outer {
		//- 	margin-bottom: 2.5em;
		//- 	width: 100%;
		//- }

		.list-docs-simple a.article {
			text-decoration: none;
			color: inherit;
		}
		.list-docs-simple .header {
			position: relative;
			width: 100%;
			//- height: 32em;
			height: 100%;
			overflow: hidden;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.list-docs-simple .veil {
			background-color: rgba(0,0,0,0.3);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		.list-docs-simple .headlines {
			padding: 1em;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 1em;
			color: #fff;
			text-shadow: 0 0 3px rgba(0,0,0,0.8);
		}
		.list-docs-simple .kicker {
		}
		.list-docs-simple .headline {
			font-family: 'LatoLatinWebBlack';
			font-weight: 900;
			font-size: x-large;
		}
		.list-docs-simple .source {
			font-size: 10pt !important;
			font-family: serif;
			font-style: italic;
			font-weight: 100;
		}
		.list-docs-simple .teaser {
			font-size: 10pt !important;
			margin: 0.2em 0 0.2em 0;
			font-family: serif;
		}

	script.
		var tag = this

		tag.recipient = "white iphone"

		window.sync.on('pause', function() {
			console.log("list-docs-simple db paused")
			tag.refresh()
		})
		tag.refresh = debounce(function() {
			//- navigator.notification.beep(1)

			//- navigator.vibrate(3000)

			tag.mypouch = window.mypouch
			tag.mypouch.query('articles/by_date', {include_docs:true, descending:true, limit:12 })
				.then( function(result) {
					//- console.log("articles/by_date result" + JSON.stringify(result, null, '\t'))
					//- alert('begin')
					return Promise.all(result.rows.map(function (row) {
						if(row.doc.cover_img && row.doc._attachments && (row.doc.cover_img in row.doc._attachments))
							return tag.mypouch.getAttachment(row.id, row.doc.cover_img).then(function(blobOrBuffer) {
								//- console.log("blobOrBuffer" + JSON.stringify(blobOrBuffer, null, '\t'))
								row._cover_img = URL.createObjectURL(blobOrBuffer)
								return row
							})
						else
							return row
					}))
				})
				.then(function(rows) {
					//- console.log("rows" + JSON.stringify(rows, null, '\t'))
					//- alert('set')
					tag.rows = rows
					tag.update()
				})
				.catch(function(err) {
					console.error("getAttachment Promise Error" + JSON.stringify(err, null, '\t'))

				})
			//- tag.mypouch.query('articles/by_date', {include_docs:true})
			//- 	.then( function(result) {
			//- 		console.log("articles/by_date result" + JSON.stringify(result, null, '\t'))
			//- 		tag.rows = result.rows.map(function(row) {
			//- 			//- row.cover_img_url = URL.createObjectURL(row.doc._attachments[row.doc.cover_img].data)
			//- 			if(row.doc.cover_img)
			//- 				row.cover_img_url = PouchDB.attachmentBlobUrl(row.doc, row.doc.cover_img)
			//- 			//- row.cover_img_url = URL.createObjectURL(row.doc._attachments[row.doc.cover_img].data)
			//- 			return row
			//- 		})
			//- 		tag.update()
			//- 		console.log(result)

			//- 		//- var statusElement = document.getElementById('status')
			//- 		//- statusElement.innerHTML = JSON.stringify(result.docs, null, '\t')
			//- 	})

			//- tag.mypouch.allDocs({include_docs:true}).then(function(result) {
			//- 	tag.alldocs = result
			//- 	tag.update()
			//- })
		}, 200)
		tag.refresh()
//- rh.rh
	style.
		rh {display: block}

	script.
		this.root.innerHTML = this.opts.html || ''
//- pouchdb-img
	style.
		pouchdb-img,
		pouchdb-img>img {
			min-width: 100%;
			min-height: 100%;
		}
	script.
		var tag = this
		//- console.log("this", this)
		console.log("tag.opts" + JSON.stringify(tag.opts, null, '\t'))
		tag.parent.mypouch.getAttachment(tag.opts.doc_id, tag.opts.attachment_id)

		.then(function (blob) {
			var url = URL.createObjectURL(blob);
			tag.root.style['background-image'] = "url('"+url+"')"
			//- var img = document.createElement('img')
			//- img.src = url;
			//- tag.root.appendChild(img);
		})
		.catch(function (err) {
			console.error(err);
		})
