show-article.show-article
	.header(style='background-image: url("{article._cover_img.src}"); background-position: {article.cover_position || "center"}' onclick='{refresh}')
		.veil
		.headlines
			.kicker {decodeEntities(article.kicker)}
			.headline {decodeEntities(article.headline)}
			.source {decodeEntities(article.source)}
	//- span {article.kicker}
	//- h1 {article.headline}
	//- h2 {article.source}

	.content
		.teaser {decodeEntities(article.teaser)}

		.text {decodeEntities(article.text)}

		a.link(href='#/frame/{article._id}') Zum Artikel bei {article.source}
	//- pre {JSON.stringify(article._videos, null, '\t')}
	//- video(if='{article._videos}' controls)
		source(each='{video in article._videos}' src='{video.src}' type='{video.type}')

	//- form#payment-form(action='' method='POST')
		span.payment-errors
		.form-row
			label
				span Card Number
				input#stripe_number(type='text' size='20' data-stripe='number')
		.form-row
			label
				span Expiration (MM/YY)
				input#stripe_exp_month(type='text' size='2' data-stripe='exp_month')
			span  /
			input#stripe_exp_year(type='text' size='2' data-stripe='exp_year')
		.form-row
			label
				span CVC
				input#stripe_cvc(type='text' size='4' data-stripe='cvc')
		input#stripe_submit.submit(type='submit' value='Submit Payment' onclick='{submitpayment}')

	//- form(action='/charge', method='POST')
		script.stripe-button(defer src='https://checkout.stripe.com/checkout.js' data-key='pk_test_6pRNASCoBOKtIshFeQd4XMUh' data-amount='2000' data-name='Stripe.com' data-description='2 widgets' data-image='/img/logo.png' data-locale='auto')
		//- script(defer src='https://checkout.stripe.com/checkout.js')

	//- form(action='/charge' method='POST')
		script.stripe-button(
			defer
			src='https://checkout.stripe.com/checkout.js'
			data-key='pk_test_6pRNASCoBOKtIshFeQd4XMUh'
			data-image='/img/logo.png'
			data-name='Demo Site'
			data-description='2 widgets ($20.00)'
			data-amount='2000')

	style.
		.show-article {
			max-width: 50rem;
			margin: 2em auto;
		}
		.show-article .header {
			position: relative;
			width: 100%;
			height: 300px;
			overflow: hidden;
			background-size: cover;
			background-repeat: no-repeat;
			margin-bottom: 1em;
		}
		.show-article .veil {
			background-color: rgba(0,0,0,0.5);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		.show-article .headlines {
			padding: 1rem;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			text-shadow: 0 0 3px rgba(0,0,0,0.8);
		}
		.show-article .kicker {
			color: #fff;
		}
		.show-article .headline {
			font-family: 'LatoLatinWebBlack';
			color: #fff;
			font-size: x-large;
		}
		.show-article .source {
			color: #fff;
			font-size: xx-small;
			font-style: italic;
		}
		.content {
			padding: 0 1rem;
		}

		.show-article .teaser {
			font-weight: bold;
			font-size: 14pt;
			line-height: 1.5;
			margin-bottom: 2em;
		}
		.show-article .text {
			white-space: pre-wrap;
			font-family: Georgia, serif;
			font-size: 14pt;
			line-height: 1.5;
			margin-bottom: 1em;
		}
		.show-article video {
			max-width: 100%;
		}
	script.
		var tag = this
		tag.refresh = function() {

			window.mypouch.get(tag.opts.article_id)
				//- .then(function(doc) {
				//- 	//- console.log("article doc" + JSON.stringify(doc, null, '\t'))
				//- 	if(doc.videos) {
				//- 		doc._videos = []
				//- 		return Promise.all(doc.videos.map(function(filename) {
				//- 			if(doc.cover_img && doc._attachments && (doc.cover_img in doc._attachments))
				//- 				return window.mypouch.getAttachment(doc._id, filename).then(function(blob) {
				//- 					doc._videos.push({url: URL.createObjectURL(blob), type: doc._attachments[filename].content_type})
				//- 					return doc
				//- 				})
				//- 			else
				//- 				return doc

				//- 		}))
				//- 	else
				//- 		return doc
				//- 	}
				//- })
				/*
				*/
				.then(function(doc) {
					if(doc.videos) {
						return Promise.all(doc.videos.map(function(filename) {
							if(doc._attachments && (filename in doc._attachments))
								return window.mypouch.getAttachment(doc._id, filename).then(function(blob) {
									return {src: URL.createObjectURL(blob), type: doc._attachments[filename].content_type}
									//- doc._videos.push({url: URL.createObjectURL(blob), type: doc._attachments[filename].content_type})
								})
							else
								return
							})).then(function(vids) {
								console.log("vids" + JSON.stringify(vids, null, '\t'))
								doc._videos = vids
								return doc
							})
						}
					else
						return doc
				})
				.then(function(doc) {
					if(doc.cover_img)
						return window.mypouch.getAttachment(doc._id, doc.cover_img).then(function(blob) {
							return {src: URL.createObjectURL(blob), type: doc._attachments[doc.cover_img].content_type}
						}).then(function(cover_img) {
							doc._cover_img = cover_img
							return doc
						})
					else
						return doc
				})
				.then(function(doc) {
					//- console.log("article doc" + JSON.stringify(doc, null, '\t'))

					tag.article = doc
						//- tag.article.vids = doc.videos.map( function(video) {
						//- 	return {src: PouchDB.attachmentBlobUrl(doc, video), type: doc._attachments[video].content_type }
						//- })

					tag.update()
				})
				//- .catch(function(err) {
				//- 	console.error("err" + JSON.stringify(err, null, '\t'))
				//- })
		}
		window.sync
			.on('change', function(update) {
				if(tag.article && update.change && update.change.docs && update.change.docs.filter(function(doc) { return doc._id == tag.article._id }).length > 0)
					tag.refresh()
				console.log("update" + JSON.stringify(update.change.docs.map(function(doc) {
					return doc._id
				}), null, '\t'))

				// statusElement.innerHTML = JSON.stringify(update.change, null, '\t')
			})

		tag.refresh()

		tag.submitpayment = function() {
			tag.stripe_submit.disabled = true
			var stripe_data =
				{	number: tag.stripe_number.value
				,	cvc: tag.stripe_cvc.value
				,	exp_month: tag.stripe_exp_month.value
				,	exp_year: tag.stripe_exp_year.value
				}
			console.log("stripe_data" + JSON.stringify(stripe_data, null, '\t'))
			Stripe.card.createToken(stripe_data, function(status, response) {

				console.log("status" + JSON.stringify(status, null, '\t'))
				console.log("response" + JSON.stringify(response, null, '\t'))

			})
		}