list-docs.list-docs.row
	//- h1 hello, {recipient}
	//- pre {data_source_url}
	.wrapper-outer.wrapper-outer-1-1(each='{row in rows}')
		.wrapper-inner
			a.article(riot-href='#/article/{row.id}')
				.header(style='background-image: url("{row.cover_img_url}"); background-position: {row.doc.cover_position || "center"}')
					//- pouchdb-img.background-image(doc_id='{row.id}' attachment_id='{row.doc.cover_img}' position='{row.doc.cover_position || "center"}')
					//- pre {row.cover_img_url}
					.veil(style="background-color: rgba(0,0,0,{ row.doc.cover_veil || '0.3' })")
					.headlines
						.kicker {decodeEntities(row.doc.kicker)}
						.headline {decodeEntities(row.doc.headline)}
						.author {decodeEntities(row.doc.author)}
				.teaser {decodeEntities(row.doc.teaser || "&nbsp;")}

	//- pre w rows: {JSON.stringify(alldocs, null, '\t')}
	style.
		.list-docs {
			width: 100%;
			-webkit-column-width: 20em;
			-webkit-column-gap: 2em;
			-webkit-column-rule: 1px solid #eee;
			-moz-column-width: 20em;
			-moz-column-gap: 2em;
			-moz-column-rule: 1px solid #eee;
			-ms-column-width: 20em;
			-ms-column-gap: 2em;
			-ms-column-rule: 1px solid #eee;
			column-width: 20em;
			column-gap: 2em;
			column-rule: 1px solid #eee;

			-webkit-column-count: 1;
			-moz-column-count: 1;
			-ms-column-count: 1;
			column-count: 1;
		}
		@media screen and (min-width: 50em) {
			.list-docs {
				-webkit-column-count: 2;
				-moz-column-count: 2;
				-ms-column-count: 2;
				column-count: 2;
			}
		}
		@media screen and (min-width: 100em) {
			.list-docs {
				-webkit-column-count: 3;
				-moz-column-count: 3;
				-ms-column-count: 3;
				column-count: 3;
			}
		}
		@media screen and (min-width: 150em) {
			.list-docs {
				-webkit-column-count: 4;
				-moz-column-count: 4;
				-ms-column-count: 4;
				column-count: 4;
			}
		}
		.wrapper-outer {
			width: 100%;
			/* whatever width you want */
			display: inline-block;
			position: relative;

			break-inside: avoid-column;
			-webkit-column-break-inside: avoid;
			page-break-inside: avoid;
			overflow: hidden; /* optional */
		}
		.wrapper-outer:after {
			display: block;
			content: '';
		}
		.wrapper-outer-16-9 {
			/* 16:9 ratio */
			padding-top: 56.25%;
		}
		.wrapper-outer-3-4 {
			/* 4:3 ratio */
			padding-top: 75%;
		}
		.wrapper-outer-1-1 {
			/* 1:1 ratio */
			padding-top: 100%;
		}

		.wrapper-inner {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}
		.list-docs a.article {

			text-decoration: none;
			color: inherit;
			margin-bottom: 3em;
		}
		.list-docs .header {
			position: relative;
			width: 100%;
			height: 300px;
			overflow: hidden;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.list-docs .veil {
			background-color: rgba(0,0,0,0.3);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		.list-docs .headlines {
			padding: 1em;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 1em;
			color: #fff;
			text-shadow: 0 0 3px rgba(0,0,0,0.8);
		}
		.list-docs .kicker {
		}
		.list-docs .headline {
			font-size: x-large;
			text-transform: uppercase;
		}
		.list-docs .author {
			font-size: xx-small;
			font-style: italic;
		}
		.list-docs .teaser {
			padding: 1em;
			font-size: 8pt !important;
		}

	script.
		var tag = this

		tag.recipient = "white iphone"

		tag.opts.sync.on('pause', function() {
			tag.refresh()
		})
		tag.refresh = debounce(function() {
			//- navigator.notification.beep(1)

			//- navigator.vibrate(3000)

			tag.mypouch = tag.opts.mypouch
			tag.mypouch.query('articles/by_date', {include_docs:true, attachments:true, binary:true})
				.then( function(result) {
					tag.rows = result.rows.map(function(row) {
						//- row.cover_img_url = URL.createObjectURL(row.doc._attachments[row.doc.cover_img].data)
						if(row.doc.cover_img)
							row.cover_img_url = PouchDB.attachmentBlobUrl(row.doc, row.doc.cover_img)
						//- row.cover_img_url = URL.createObjectURL(row.doc._attachments[row.doc.cover_img].data)
						return row
					})
					tag.update()
					console.log(result)

					//- var statusElement = document.getElementById('status')
					//- statusElement.innerHTML = JSON.stringify(result.docs, null, '\t')

				})
			tag.mypouch.allDocs({include_docs:true}).then(function(result) {
				tag.alldocs = result
				tag.update()
			})
		}, 200)
		tag.refresh()
//- rh.rh
	style.
		rh {display: block}

	script.
		this.root.innerHTML = this.opts.html || ''
//- pouchdb-img
	style.
		pouchdb-img,
		pouchdb-img>img {
			min-width: 100%;
			min-height: 100%;
		}
	script.
		var tag = this
		//- console.log("this", this)
		console.log("tag.opts" + JSON.stringify(tag.opts, null, '\t'))
		tag.parent.mypouch.getAttachment(tag.opts.doc_id, tag.opts.attachment_id)

		.then(function (blob) {
			var url = URL.createObjectURL(blob);
			tag.root.style['background-image'] = "url('"+url+"')"
			//- var img = document.createElement('img')
			//- img.src = url;
			//- tag.root.appendChild(img);
		})
		.catch(function (err) {
			console.error(err);
		})
