/* Webfont: LatoLatin-Black */@font-face {
	font-family: 'LatoLatinWebBlack';
	src: url('./LatoLatin-Black.eot'); /* IE9 Compat Modes */
	src: url('./LatoLatin-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('./LatoLatin-Black.woff2') format('woff2'), /* Modern Browsers */
		 url('./LatoLatin-Black.woff') format('woff'), /* Modern Browsers */
		 url('./LatoLatin-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-BlackItalic */@font-face {
	font-family: 'LatoLatinWebBlack';
	src: url('./LatoLatin-BlackItalic.eot'); /* IE9 Compat Modes */
	src: url('./LatoLatin-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('./LatoLatin-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
		 url('./LatoLatin-BlackItalic.woff') format('woff'), /* Modern Browsers */
		 url('./LatoLatin-BlackItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}
